<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Deployable Secrets Scanner</title>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.min.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo.css') }}">

	

</head>

<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
               
		<img src="{{url_for('static', filename='assets/img/kpmg_logo.jpg')}}"  />
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Scan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="results.html">Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->
    
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{url_for('static', filename='/assets/img/banner_img_03.jpg')}}"  />
		  
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b></b> </h1>
                                <h3 class="h2">The Problem</h3>
                                <p>
                                    Development Teams often leave secrets, keys, passwords, and other strings inside code repository,
				    exposing their organization to uncessary risk.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
			    <img class="img-fluid" src="{{url_for('static', filename='/assets/img/banner_img_03.jpg')}}"  />
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1"></h1>
                                <h3 class="h2">The Challenge</h3>
                                <p>
				   The challenge is the time to get infrastructure spun up, delaying how fast the work gets done.	
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                   
			    <img class="img-fluid" src="{{url_for('static', filename='/assets/img/banner_img_03.jpg')}}"  />
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1"></h1>
                                <h3 class="h2">The Solution</h3>
                                <p>
                                    We've created a deployable secret scanning solution that automates the scanning and presentation of credntials found in code repository. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month --> 
    <!-- TODO -->

    
    <section class="container py-5">
        <!-- Title -->
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Secret Scanner</h1>
                <p>
                    Please complete fields below and click scan.
                </p>
            </div>
        </div>
        <!-- End Title -->
        
        <!-- HARD -->
        <div>
            <div id="form2" class="scanner">      
                <!-- Main Input For Receiving Query to our ML -->

                <h1>Secret Scanning</h1>
                <a href="{{ url_for('previous_results')}}">Previous Results</a>
                
                <form action="{{ url_for('scan')}}" id="scan_form" method="post">
                    <div>
                        <div class="gitinner" id="jerror" style="color: red; display: none">Error found in one or more fields below</div>
                        
                        <!-- Make this less wide and/or smaller font-->
                        <label for="userid">User ID</label><input type="text" name="userid" autofocus/>
                        <label for="password">Password/Token</label><input type="password" name="password" />
                        <label for="page_size">Page Size</label><input type="text" name="page_size" value="100"/><br/>					
                        <label for="report_directory">Report Directory</label><input type="text" name="report_directory" value="/tmp/"/><br/>					
                        <label for="report_recipients">Email Report Recipients</label><input type="email" multiple name="report_recipients" value=""/><br/>
                        <input type="checkbox" name="entropy" id="entropy_id"/>
                        <label for="entropy_id">Use Entropy</label><span style="margin: 3px;"><a href="https://github.com/trufflesecurity/truffleHog" target="_blank" rel="noopener noreferrer">Learn More</a></span>
                        <br/>
                        <input type="checkbox" name="rescan" id="rescan_id" checked/>
                        <label for="rescan_id">Rescan Previously Scanned Repos</label>
                    </div>
                    
                    <br/>
                    
                    <h3>Git Source</h3>
                    <div>
                        <!-- Make this two columns, Left=radio, Right=form-->
                        <div class="container">
                            <div class="row">
                                <!-- Radio Buttons -->
                                <div class="col">
                                    <!-- Which Git Source? -->

                                        <input type="radio" id="github" name="gitgroup" value="Github" checked>
                                        <label for="github">Github</label>
                                        <br/>
                                        <input type="radio" id="bitb" name="gitgroup" value="Bitbucket">
                                        <label for="bitb">Bitbucket</label>
                                        <br/>
                                        <input type="radio" id="gitlab" name="gitgroup" value="Gitlab">
                                        <label for="gitlab">Gitlab</label>
                                        <br/>
                                        <input type="radio" id="generic" name="gitgroup" value="generic">
                                        <label for="generic">Generic Git</label>
                                </div>
                                <!-- Form and Submit -->
                                <div class="col gitwrap">
                                    <div class="gitinner" id="err" style="color: red; display:none"><strong>Error:</strong><span id="err_msg"></span></div>
                                    
                                    <div class="gitinner" id="baseUrl" style="display: none;"><label id="baseUText" for="url"></label><br/><input type="text" name="url" id="BGurl"/><br/></div>
                                    <div class="gitinner" id="orgsG"><label id="gOrgs" for="github_orgs">Github Orgs</label><br/><textarea name="github_orgs" rows="5" cols ="30" id="otext"></textarea><br/></div>
                                    <div class="gitinner" id="usersG"><label id="gUsers" for="github_users">Github Users</label><br/><textarea name="github_users" rows="5" cols ="30" id="utext"></textarea><br/></div>
                                    <div class="gitinner" id="urlsG" style="display: none;"><label id="gUrls" for="git_urls">Git URLs</label><br/><textarea name="git_urls" rows="10" cols ="60" id="gtext"></textarea></div>
                                    <button id="oubut" type="submit" name="button" value="github" class="btn btn-primary btn-block btn-large">	Scan Github</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Email Config -->
                <div>
                    <div>
                        <button type="submit" id='btn_email_config' name="button" class="btn btn-primary btn-block btn-large" onclick='toggle_email_config(this)'>Show Email Configuration</button>
                    </div>
                    <div id="email_config" style="display:none;">
                        <form id='email_settings' name='email_settings' action="{{ url_for('email_settings')}}" method="post">
                            <label for="email_server">SMTP Server (required)</label><input type="text" name="email_server" required value="{{ email_server }}"/>
                            <label for="email_server_port">SMTP Port (required)</label><input type="text" name="email_server_port" required value="{{ email_server_port }}" />
                            <label for="email_from">From Address (required)</label><input type="text" name="email_from" required value="{{ email_from }}"/>
                            <label for="email_userid">User ID</label><input type="text" name="email_userid" value="{{ email_userid }}"/>
                            <label for="email_password">Password</label><input type="password" name="email_password" value="{{ email_password }}"/>
                            <button type="submit" name="button" class="btn btn-primary btn-block btn-large">
                                Save Settings
                            </button>
                        </form>
                    </div>
                </div>
        </div>
        <!-- END HARD -->
       
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">KPMG</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 KPMG 12345
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:123-456-7890">123-456-7890</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:secretscanner@kpmg.com">secretscanner@kpmg.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">TruffleHog</a></li>
                        <li><a class="text-decoration-none" href="#">RustyHog</a></li>

                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">Scan</a></li>
                        <li><a class="text-decoration-none" href="#">Results</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 KPMG 
                
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{{url_for('static', filename='assets/js/jquery-1.11.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/jquery-migrate-1.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/templatemo.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/dss.js')}}"></script>
    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <!-- This script adds the error message -->
    <script>
    $('#scan_form').submit(function(event) {
        if($('#github').is(':checked')) { 
            var org = $.trim($("#otext").val());
            var user = $.trim($("#utext").val());
            if(org != "" || user != ""){
                return;
            }else{
                event.preventDefault();
                $('#err').show();
                $('#jerror').show();
                $("#err_msg").text(" Must indicate Github Orgs and/or Github Users");
            }
        }else if($('#bitb').is(':checked')){
            var bg = $.trim($("#BGurl").val());
            if(bg != ""){
                return;
            }else{
                event.preventDefault();
                $('#err').show();
                $('#jerror').show();
                $("#err_msg").text(" Must indicate Bitbucket URL");
            }
        }else if($('#gitlab').is(':checked')){
            var bg = $.trim($("#BGurl").val());
            if(bg != ""){
                return;
            }else{
                event.preventDefault();
                $('#err').show();
                $('#jerror').show();
                $("#err_msg").text(" Must indicate Gitlab URL");
            }
        }else if($('#generic').is(':checked')){
            var git = $.trim($("#gtext").val());
            if(git != ""){
                return
            }else{
                event.preventDefault();
                $('#err').show();
                $('#jerror').show();
                $("#err_msg").text(" Must indicate Git URL");
            }
        }
    });
    </script>
    <script>
    // This function changes the source   
    $(document).ready(function() {
        $("input[name$='gitgroup']").click(function(){
            var gr = $(this).val();
            if(gr == "generic"){
                $('#urlsG').show();
                $('#orgsG').hide();
                $('#usersG').hide();
                $("#oubut").text("Scan Generic Git Repos");
                $('#baseUrl').hide();
            }else{
                if(gr == "Gitlab" || gr == "Bitbucket"){
                    $('#baseUrl').show();
                    $("#baseUText").text("Base URL for " + gr);
                }else{
                    $('#baseUrl').hide();
                }
                $('#orgsG').show();
                $('#usersG').show();
                $('#urlsG').hide();
                $("#gOrgs").text(gr + " Orgs");
                $("#gUsers").text(gr + " Users");
                $("#oubut").text("Scan " + gr);
            }
            $("#oubut").val(gr.toLowerCase());
        });
    });
    </script>
    <!-- End Script -->

</body>
</html>
